/* НОВАЯ РАЗМЕТКА НОТАЦИИ БЛОКОВ */


/*   =========================   МАЛЕНЬКИЕ БЛОКИ  =========================   */

/*                              === БЛОК .logo ===                            */
.logo {
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}


/* ========================= БЛОК-ВСЯ-СТРАНИЦА .page ========================= */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  position: static;
  padding: 0;
}


/* =========================        БЛОК .header     ========================= */
.header {
  display: flex;
  position: relative;
  height: 756px;
  /* выше установили ограничения для секции */
  margin: auto;
  background-color: #f2f2f2;
  z-index: 0;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
/*                                ---ТЕКСТ---                                  */
/*                             h1  ЗАГОЛОВОК TITLE                             */
.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  max-width: 730px;
  align-self: center;
  margin: 0 0 0 64px;
  z-index: 3;
}

/*                            h2 ПОДЗАГОЛОВОК SUBTITLE                          */
.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 5;
}

/*                                  ИЗОБРАЖЕНИЯ                                */
.header__main-illustration {
  position: absolute;
  display: block;
  width: 765px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header__square-pic {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: -1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
}


/*   ========================  СЕКЦИЯ .description  ========================   */
.description {
  display: flex;
  padding-top: 100px;
}

/*                     ======  БЛОК .two-columns =====                         */
.two-columns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: auto;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
/*                                ---ТЕКСТ---                                  */
.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  max-width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 784px;
  row-gap: 30px;

}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  
}

.two-columns__span-accent {
  font-weight: 600;
}

/*    ========================    СЕКЦИЯ .digits   ========================    */
/*                                     DIGITS                                  */
.digits {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
}

/*                             ======  БЛОК  =====                             */
/*                              h1 ЗАГОЛОВОК TITLE                             */
.section-title {
  font-size: 60px;
  font-weight: 600;
  max-width: 60%;
  text-align: center;
  margin: 0 auto 20px auto;
  z-index: 2;
}

/*                              ======  БЛОК  =====                            */
/*                           h2 ПОДЗАГОЛОВОК SUBTITLE                          */
.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  max-width: 60%;
  text-align: center;
  line-height: 34px;
  margin: 0 auto;
  z-index: 1;
}

/*                              ======  БЛОК  =====                            */
/*                                 ТАБЛИЦА TABLE                               */
.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 1100px;
  padding: 0;
  margin: 0 auto;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
.table__cell {
  width: 250px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  margin-top: 60px;
}


/*                              === ЭЛЕМЕНТЫ ===                               */
/*                                 ---ТЕКСТ---                                 */
.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-indent: 0;
  margin: 0;
}

/*    ========================    СЕКЦИЯ .feynman   ========================    */
/*                                     FEYNMAN                                  */
.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 890px;
  background-color: #f2f2f2;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
/*                                ---ТЕКСТ---                                  */
/*                             h1  ЗАГОЛОВОК TITLE                             */
.feynman__title {
  max-width: 60%;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 2;
  margin: 100px auto 70px auto;
}

/*                           h2 ПОДЗАГОЛОВОК SUBTITLE                          */
.feynman__subtitle {
  font-size: 36px;
  font-weight: normal;
  max-width: 60%;
  text-align: center;
  line-height: 51px;
  margin: 0 auto;
  z-index: 1;
}

/*                                   a ССЫЛКА                                 */
.feynman__link {
  position: absolute;
  display: block;
  right: 48px;
  top: 445px;
  font-size: 36px;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

/*                                  ИЗОБРАЖЕНИЯ                                */
.feynman__illustration {
  position: absolute;
  display: block;
  width: 867px;
  left: 0;
  bottom: 0;
  z-index: 0;
}


/*    ========================    СЕКЦИЯ .kaufman   ========================    */
/*                                     KAUFMAN                                  */
.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  color: #fff;
  border: none;
  padding: 90px 0;
  margin: 0;

  /*                                  ИЗОБРАЖЕНИЕ                                */
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px;
  overflow: hidden;
  background-position: top 0 right -210px;
}


/*                             ======  БЛОК  =====                             */
/*                                 ЗАГОЛОВОК TITLE                             */
.section-title_theme_dark {
  color: #fff;
}

/*                              ======  БЛОК  =====                            */
/*                              ПОДЗАГОЛОВОК SUBTITLE                          */
.section-subtitle_theme_dark {
  color: #fff;
}

/*                              ======  БЛОК  =====                            */
/*                                 ТАБЛИЦА TABLE                               */
.table_theme_dark {
  color: #fff;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
.table__cell_theme_dark {
  width: 200px;
  color: #fff;
}

/*                                 ---ТЕКСТ---                                 */
.table__heading_theme_dark {
  color: #fff;
}

.table__text_theme_dark {
  color: #fff;
}


/*    ========================    СЕКЦИЯ .footer   ========================    */
/*                                     FOOTER                                  */
.footer {
  display: flex;
  position: relative;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
}

/*                              === ЭЛЕМЕНТЫ ===                               */
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: #fff;
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  color: #fff;
}

/*                                 ---ТЕКСТ---                                 */
.footer__column_copyright {
  justify-content: space-between;
  min-width: 711px;
  line-height: 25px;
  margin: 0;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  text-indent: 0;
  margin: 18px 0;

}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin: 0;
}

.footer__column_content_info {
  justify-content: flex-start;
  height: 100%;
  margin: 0;

}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 16px 0;
  justify-content: space-between;
}

.footer__column-link {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  margin: 20px 0 0 0;
}

.footer__column_social {
  justify-content: flex-start;
  margin: 0;
}

.footer__social-icon {
  display: inline;
  margin-right: 7px;
  width: 16px;
  height: 16px;
}

/*                                  ИЗОБРАЖЕНИЕ                                */
.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  margin: 0;
}